body {
    background-color: pink;
    font-family: Helvetica, sans-serif;
}

#content {
    background-color: black;
    width: 1080px;
    margin: auto;
}

header {
    background-color: aqua;
}

header h1 {
    text-align: center;
    font-size: 200px;
    padding: 10px;
    text-decoration: underline;
    text-decoration-color: red;
}

#section1 {
    background-color: yellow;
}

#section2 {
    background-color: green;
}

#section3 {
    background-color: orange;
}